.container {
  width: 75%;
  margin: 2rem auto;
  color: #4a5568;
}

.map-wrapper {
  padding: 1rem;
  border: 1px solid #eee;
  border-radius: 5px;
}

.btn {
  width: 3rem;
  height: 2rem;
  font-size: 1rem;
  background: #eee;
  margin-right: 1rem;
}
